body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 0;
    background-color: #f5f5f5;
}

.title {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 46px;
    font-weight: normal;
    text-align: center;
    color: #228B22;
}

.subtitle {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 28px;
    font-weight: normal;
    color: #228B22; 
}

.highlight {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border-radius: 0px;
}
.highlight h3 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    font-weight: normal;
}
